.gitignore
streamr/
rcl/
mangadl/
ottsx/__pycache__
repacky/__pycache__
embedspeaker/__pycache__
rcl/__pycache__
redmpd/__pycache__
linkscanner/__pycache__
nyaa/__pycache__
rarbg/__pycache__
helpless/__pycache__
romdom/__pycache__
uh.js